// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$cornflower-blue: #6a5cf7;
$conifer: #9dd65f;
$stripe-green: #3ccf8d;
