.banner-404 {
  background-size: cover;
  background-position: center;
  background-position: center bottom;
  max-width: 100%;
}

.404-text {
  margin-top: 150px;
}

.card-404 {
  background-color: white;
  font-weight: lighter;
  width: 900px;
  margin: auto;
}
