// Specific CSS for your home-page

$content-size: 70px;

.landing-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  width: 100%;
  height: 100vh;
  display: block;

  h1,
  h2 {
    color: white;
    font-size: 42px;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  }

  h1 {
    font-size: $content-size;
    font-weight: 700;
  }

  h2 {
    font-weight: 300;
  }
}

.highlight {
  background-color: rgba(60, 207, 141, .6);
  padding-left: 1%;
  padding-right: 1%;
  // font-weight: 900;
}

.landing-primary {
  background: linear-gradient(
      to bottom,
      rgba(171, 179, 187, 0.1),
      rgba(171, 179, 187, 0.3)
    ),
    url("https://images.unsplash.com/photo-1504384764586-bb4cdc1707b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
      no-repeat;
  background-size: cover;
  background-position: bottom, -15rem;
  transform: scaleX(-1);
  width: 100%;
  height: 100vh;
}
.landing-secondary {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 47% 0, 30% 100%, 0 100%);

  background: linear-gradient(
      to bottom,
      rgba(120, 120, 120, 0.52),
      rgba(120, 120, 120, 0.52)
    ),
    url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

.landing-call-to-action {
  position: absolute;
  top: 8rem;
  left: 2rem;
  right: 0rem;
}

.flat-button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin-top: 5rem;
  position: relative;
  width: 250px;
  height: 62px;
  font-size: 26px;
  text-transform: uppercase;
  background: $secondary;
  overflow: hidden;
  .content-landing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 215px;
    overflow: hidden;
    animation-fill-mode: forwards;

    font-family: "Lato", sans-serif;
    font-size: $content-size;
    line-height: $content-size;
    color: $secondary;

    &__container {
      font-weight: 600;
      overflow: hidden;
      height: 215px;
      padding: 0 20px;

      &:before {
        content: "[";
        left: 0;
      }

      &:after {
        content: "]";
        position: absolute;
        right: 0;
      }

      &:after,
      &:before {
        position: absolute;
        top: 0;

        color: $secondary;
        font-size: 100px;
        line-height: $content-size;

        -webkit-animation-name: opacity;
        -webkit-animation-duration: 120s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-name: opacity;
        animation-duration: 120s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      &__text {
        display: inline;
        float: left;
        margin: 0;
      }

      &__list {
        margin-top: 0;
        padding-left: 200px;
        text-align: left;
        list-style: none;

        -webkit-animation-name: change;
        -webkit-animation-duration: 25s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 25s;
        animation-iteration-count: 1;
        animation-iteration-count: infinite;

        &__item {
          line-height: $content-size;
          margin: 0;
        }
      }
    }
  }

  @-webkit-keyframes change {
    0%,
    8.00%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    16.00%,
    24.00% {
      transform: translate3d(0, -33%, 0);
    }
    32.00%,
    90.00% {
      transform: translate3d(0, -66%, 0);
    }
  }

  @-o-keyframes change {
    0%,
    8.00%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    16.00%,
    24.00% {
      transform: translate3d(0, -33%, 0);
    }
    32.00%,
    90.00% {
      transform: translate3d(0, -66%, 0);
    }
  }

  @-moz-keyframes change {
    0%,
    8.00%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    16.00%,
    24.00% {
      transform: translate3d(0, -33%, 0);
    }
    32.00%,
    90.00% {
      transform: translate3d(0, -66%, 0);
    }
  }

  @keyframes change {
    0%,
    8.00%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    16.00%,
    24.00% {
      transform: translate3d(0, -33%, 0);
    }
    32.00%,
    90.00% {
      transform: translate3d(0, -66%, 0);
    }
  }
  z-index: 1;
  cursor: pointer;
  transition: color 0.3s;
  /* Typo */
  line-height: $content-size;
  text-align: center;
  color: #fff;
  border: 0;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.flat-button:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: darken($secondary, 30%);
  content: "";
  z-index: -2;
  transition: transform 0.3s;
}

.flat-button:hover::after {
  transform: translateY(-100%);
  transition: transform 0.3s;
}

// animation
.content-landing {
  position: absolute;
  top: 1rem;
  left: 15.5rem;
  transform: translate(-50%, -50%);
  height: 210px;
  overflow: hidden;
  animation-fill-mode: forwards;

  font-family: "Lato", sans-serif;
  font-size: $content-size;
  line-height: $content-size;
  color: white;

  &__container {
    font-weight: 600;
    overflow: hidden;
    height: $content-size;
    padding: 0 20px;

    &:before {
      content: "[";
      left: 0;
    }

    &:after {
      content: "]";
      position: absolute;
      right: 0;
    }

    &:after,
    &:before {
      position: absolute;
      top: 0;

      color: $secondary;
      font-size: $content-size;
      line-height: $content-size;

      -webkit-animation-name: opacity;
      -webkit-animation-duration: 120s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-iteration-count: infinite;
      animation-name: opacity;
      animation-duration: 120s;
      animation-iteration-count: 1;
      animation-iteration-count: infinite;
    }

    &__text {
      display: inline;
      float: left;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      padding-left: 200px;
      text-align: left;
      list-style: none;

      -webkit-animation-name: change;
      -webkit-animation-duration: 25s;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 25s;
      animation-iteration-count: 1;
      animation-iteration-count: infinite;

      &__item {
        line-height: $content-size;
        margin: 0;
      }
    }
  }
}

@-webkit-keyframes change {
  0%,
  8.00%,
  100% {
      transform: translate3d(0, 0, 0);
    }
    16.00%,
    24.00% {
      transform: translate3d(0, -33%, 0);
    }
    32.00%,
    90.00% {
      transform: translate3d(0, -66%, 0);
    }
}

@-o-keyframes change {
  0%,
  8.00%,
  100% {
      transform: translate3d(0, 0, 0);
    }
    16.00%,
    24.00% {
      transform: translate3d(0, -33%, 0);
    }
    32.00%,
    90.00% {
      transform: translate3d(0, -66%, 0);
    }
}

@-moz-keyframes change {
  0%,
  8.00%,
  100% {
      transform: translate3d(0, 0, 0);
    }
    16.00%,
    24.00% {
      transform: translate3d(0, -33%, 0);
    }
    32.00%,
    90.00% {
      transform: translate3d(0, -66%, 0);
    }
}

@keyframes change {
  0%,
  8.00%,
  100% {
      transform: translate3d(0, 0, 0);
    }
    16.00%,
    24.00% {
      transform: translate3d(0, -33%, 0);
    }
    32.00%,
    90.00% {
      transform: translate3d(0, -66%, 0);
    }
}
