<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <div class="card">
        <div class="card-carousel-header">
          <div>
            XX Completed
          </div>
          <div>
            <i class="fas fa-check"></i>
          </div>
        </div>
        <div class="card-body">
          <p class="card-carousel-header-title"><strong>This will be an article title</strong></p>
          <p class="card-text">This should be a synopsis</p>
        </div>
        <div class="card-carousel-bottom">
          <div>
            <p>Carousel</p>
          </div>
          <div>
            <p>1/17</p>
          </div>
          <div>
          <a href="#" class="btn btn-primary">Read again</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-carousel-header">
          <div>
            XX Upcoming
          </div>
          <div>
            <i class="fas fa-external-link-alt"></i>
          </div>
        </div>
        <div class="card-body">
          <p class="card-carousel-header-title"><strong>This will be an article title</strong></p>
          <p class="card-text">This should be a synopsis</p>
        </div>
        <div class="card-carousel-bottom">
          <div>
            <p>Carousel</p>
          </div>
          <div>
            <p>1/17</p>
          </div>
          <div>
          <a href="#" class="btn btn-primary">Continue</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-carousel-header">
          <div>
            XX Bookmarked
          </div>
          <div>
            <i class="far fa-bookmark"></i>
          </div>
        </div>
        <div class="card-body">
          <p class="card-carousel-header-title"><strong>This will be an article title</strong></p>
          <p class="card-text">This should be a synopsis</p>
        </div>
        <div class="card-carousel-bottom">
          <div>
            <p>Carousel</p>
          </div>
          <div>
            <p>1/17</p>
          </div>
          <div>
          <a href="#" class="btn btn-primary">Read again</a>
          </div>
        </div>
      </div>
    </div>

  </div>

<!-- Trying to figure out how to make the carousel buttons -->

  <div class="col-sm-4">
    <div class="card">
      <div class="card-carousel-header">
        <div>
          XX Bookmarked
        </div>
        <div>
          <i class="far fa-bookmark"></i>
        </div>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p>Title article</p>
            <p>Synopsis</p>
          </div>
          <div class="carousel-item">
            <p>Title article</p>
            <p>Synopsis</p>
          </div>
          <div class="carousel-item">
            <p>Title article</p>
            <p>Synopsis</p>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="card-carousel-bottom">
        <div>
          <p>1/17</p>
        </div>
        <div>
        <a href="#" class="btn btn-primary">Read again</a>
        </div>
      </div>
    </div>
  </div>
</div>
