<form class="form">
  <%= simple_form_for :search, method: "get", url: request.path do |f| %>
      <div class="mb-2 mr-sm-2">
        <%= text_field_tag :article,
            params[:article],
            class: "form-control",
            id: "article",
            placeholder: "Search"
        %>
      </div>
  <% end %>
</form>

