<nav class="d-none d-md-block bg-light">
  <div class="tree-sticky">
    <div class="search">
        <i class="material-icons-sharp">search</i>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <ul class="nav flex-column list">
      <% @articles.each do |topic| %>
      <li class="nav-item">
        <%#= topic.name %>
        <ul>
          <%# topic.articles.each do |article| %>
            <li class="nav-sub">
              <%#= article.title %>
            </li>
        <%# end %>
        </ul>
      </li>
      <% end %>
    </ul>
    <h1>This is a tree</h1>
  </div>
</nav>
