<!-- <nav class="d-none d-md-block bg-light"> -->
  <!-- <a class="btn multi-collapse" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> -->
    <div class="tree-sticky">
      <div class="search">
        <i class="material-icons-sharp" id="search-icon">search</i>
        <%#= render 'shared/searchbar' %>
      </div>
      <ul class="nav list">
        <% @all_topics.each do |topic| %>
        <!-- <li class="nav-item"> -->
          <li class="tree-item">
          <!-- <div class="collapse" id="collapseExample"> -->
            <div class="hidden">
              <%= topic.name %>
              <div class="gone">
                <ul class="sub">
                  <% topic.articles.each do |article| %>
                    <li class="nav-sub">
                        <%= link_to article, class: "#{current_class?(topic)}" do %>
                          <%= article.title %>
                        <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <!-- </div> -->
          </li>
        <!-- </li> -->
        <% end %>
      </ul>
    </div>
  <!-- </a> -->
<!-- </nav> -->

<script>
  var tree = document.querySelector(".tree-sticky")
  tree.addEventListener("click", function() {
    tree.classList.toggle("show")
  })
</script>
