<nav class="d-none d-md-block bg-light">
  <div class="tree-sticky">
    <div class="search">
        <i class="material-icons-sharp">search</i>
    </div>
    <ul class="nav flex-column list">
      <% @topics.each do |topic| %>
      <li class="nav-item">
        <%#= topic.name %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
