<h1>Dashboard</h1>

<div class="card card-progress-bar">
  <div class="card-header">
    <h4 class="card-header-title">Library</h4>

    <i class="fa fa-book card-title-icon" aria-hidden="true"></i>
  </div>
  <div class="card-body text-center">
    <div class="round-progress-bar">
      <svg
        class="progress-ring"
        width="120"
        height="120">
        <circle
          class="progress-ring__circle"
          stroke="#6a5cf7"
          stroke-width="6"
          fill="transparent"
          r="52"
          cx="60"
          cy="60"/>
      </svg>
    </div>
    <hr class="py-1">
    <p class="card-title">Current chapter:</p>
    <p class="card-text">Marketing Mix</p>
    <div class="card-footer">
      <div class="card-text">Reads: 7/7</div>
      <a href="#" class="btn btn-secondary">Continue</a>
    </div>
  </div>
</div>
