<div class="landing-wrapper">
  <div class="landing-primary"></div>
  <div class="landing-secondary"></div>
    <div class="landing-call-to-action">

      <div class="content-landing">
        <div class="content-landing__container">
          <p class="content-landing__container__text">
            Hello
          </p>

          <ul class="content-landing__container__list">
            <!-- <li class="content-landing__container__list__item">
              Bob!
            </li>
 -->            <li class="content-landing__container__list__item">
              Azubi
            </li>
            <li class="content-landing__container__list__item">
              Mobile
            </li>
            <li class="content-landing__container__list__item">
              Mozubi!
            </li>
          </ul>
        </div>
      </div>

    <h2>Replace heavy books with the best <span class="highlight">digital platform</span></h2>
    <%= link_to  "Start", dashboard_path, class: "flat-button" %>
  </div>
</div>
