<div class="landing-wrapper">
  <div class="landing-primary"></div>
  <div class="landing-secondary"></div>
  <div class="landing-call-to-action">
    <h1>Mozubi</h1>
    <h2>Heavy books or digital platform?</h2>
    <%= link_to  "Sign in", dashboard_path, class: "flat-button" %>
  </div>
</div>