<div class="jumbotron">
  <h1 class="display-4">Welcome to Mozubi!</h1>
  <p class="lead">This is the solution for German apprentencis that want to pass their final exam.</p>
  <hr class="my-4">
  <p>On this platform, an apprentice can read relevant articles, practise via quizes and exam simulations.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Goat for it!</a>
</div>
