.banner-landing {
  background-size: cover;
  background-position: center;
  padding: 230px 0;
  height: 350px !important;
}

.banner-h1 {
  color: $text-secondary;
  padding-left: 48px;
  font-size: xxx-large;
}

.banner-p {
  color: $text-secondary;
  font-size: 20px;
  margin-left: 50px;
}

.landing-btn {
  margin-left: 50px;
}
