.card-progress-bar-left {
  width: 820px;
  height: 500px;
  margin: 100px auto;
  display: grid;
  grid-template-rows: 1fr 6fr 2fr;

  & > div {
    border: 1px solid black;
  }
}

.dashboard-cards-right{
  margin-right: auto;
  margin-top: 50px;
}

.card-progress-bar-right {
  width: 350px;
  height: 225px;
  margin: 50px auto;
}

.card-header {
  background-color: $primary;
  color: $text-secondary;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-title {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.2rem;
  letter-spacing: 3px;
  margin: 0;
}

.card-title-icon {
  font-size: 1.4rem;
}

hr {
  width: 70%;
}

.card-body {
  div {
    border: 1px solid black;
  }
  display: grid;
  grid-template-rows: 40% 1fr;

  &-topics {
    display: grid;

  }
}

.card-text {
  font-weight: 300;
  font-size: 1.3rem;
}

.card-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
}

.card-footer {
  border-top: none;
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 10px 0 10px;

  .btn-secondary {
    color: #fff;

    &:focus {
      color: #fff;
    }
  }
}

.round-progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
