.card-progress-bar-left {
  width: 820px;
  height: 500px;
  margin: 100px auto;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;

  & > div {
    // border: 1px solid black;
  }
}

.card-body-main {
  display: grid;
  grid-template-columns: 2fr 1fr;

}

.card-body-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-current-title-label{
  margin-bottom: 0;
  color: grey;
  font-weight: lighter;
  font-size: 21px;
  padding-top: 20px;
}

.card-current-title-title {
  font-weight: lighter;
  letter-spacing: 1px;
  padding-top: 10px;
}

.dashboard-cards-right{
  margin-right: auto;
  margin-top: 50px;
}

.card-progress-bar-right {
  width: 350px;
  height: 225px;
  margin: 50px auto;
}

.card-header {
  background-color: $primary;
  color: $text-secondary;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header-title {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.2rem;
  letter-spacing: 3px;
  margin: 0;
}

.card-title-icon {
  font-size: 1.4rem;
}

hr {
  width: 70%;
}

.card-body {
  display: grid;
  grid-template-rows: 40% 1fr;
  grid-row-gap: 35px;


  &-topics {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-weight: lighter;
  }
}

.card-text {
  font-weight: 300;
  font-size: 1.3rem;
}

.card-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
}

.card-body-topic-title {
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
}

.card-body-topic-status {
  padding-top: 10px;
}

.card-footer {
  // border-top: none;
  // display: flex;
  // justify-content: space-between;
  // background: #fff;
  // padding: 1.25rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: white;

  .btn-secondary {
    color: #fff;

    &:focus {
      color: #fff;
    }
  }
}

.round-progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
