@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

.congrats-container {
  position: relative;
  width: 100%;
  height: 50vh;
  padding-top: 100px;
  background: #3da1d1;
  color: #fff;
  overflow: hidden;
  z-index: -1;
}

#congrats {
  position: absolute;
  top: calc(50% - 50px);
  width: 550px;
  height: 100px;
  line-height: 1;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#title {
  transform-origin: 50% 50%;
  font-size: 50px;
  font-family: "Sigmar One", cursive;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.particle {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 1;
  font-size: 30px;
  // display: none;
}

.star {
  color: #ffcc00;
}

.blob {
  background: #d5f2ff;
  background: rgba(red(#ffcc00), green(#ffcc00), blue(#ffcc00), 0.25);
  border-radius: 50%;
  display: block;
}
