.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  // box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  width: $sidebar-width;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  bottom: 0;
  height: calc(100vh - 0px);
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $primary;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  height: 80px;
  display: flex;
  padding: 0;
  color: $text-secondary;
  font-size: 1rem;
  line-height: 2rem;
  align-items: center;
  justify-content: center;
}

.sidebar .nav-item:hover {
  background: $hover-primary;
}

.sidebar .nav-link.active {
  background-color: $hover-primary;
}
.material-icons-sharp {
  font-size: 24px;
}
.bottom {
  height: 80px;
  width: $sidebar-width;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.container-fluid {
  padding: 0;
}

.icon {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}
.icon p {
  font-size: 12px;
  line-height: 14px;
}
