$width-tree: calc(#{$sidebar-width} / 2);
$width-half: calc(#{$width-tree} / 2);
$width-third: calc(#{$width-tree} / 3);
$width-fourth: calc(#{$width-tree} / 4);
$width-eights: calc(#{$width-tree} / 8);

$width-expand: calc(#{$sidebar-width} * 3);

$line-width: 2px;
$line-left: calc(#{$width-half} - (#{$line-width} / 2));
$line-width-double: calc(#{$line-width} * 2);

$dot-width: $width-fourth;
$dot-left: calc(#{$width-half} - (#{$dot-width} / 2));

$search-left: calc(#{$width-half} - 12px);

$height: 50px;
$height-half: calc(#{$height} / 2);

.tree {
  top: 0;
  bottom: 0;
  z-index: 150;
  // padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  min-width: $width-tree;
  margin-left: 0px;
}
.tree-sticky {
  background-color: $text-secondary;
  position: absolute;
  height: 100vh;
  top: 0;
  height: calc(100vh - 0px);
  overflow-x: hidden;
  overflow-y: auto;
  width: $width-tree;
}
@keyframes expand{
  0% {
    width: $width-tree;
  }
  100% {
    width: $width-expand;
  }
}
.sticky-div {
    position: absolute;
    top: 0;
    bottom: 0;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .tree-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
.tree-sticky.show {
  width: $width-expand;
  animation: expand .3s ease-in;
}
.close-tree {
  transition: .3s ease-out;
}
.tree .nav-link {
  height: $height;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 2rem;
}
.tree-sticky.show .tree-item {
  padding-left: $width-tree;
  width: 100%;
  color: $text-primary;
}
.tree-item {
  font-size: 14px;
  letter-spacing: -.5px;
}
// .tree .tree-item:hover {
//   background-color: $hover-primary;
//   width: 100%;
// }
.tree .tree-item.active ul.list:before {
    background: $primary;
}
.tree .nav-sub {
  list-style: none;
}
.hidden {
  visibility: hidden;
  // display: none;
}
.tree-sticky.show .hidden {
  visibility: visible;
  transition-delay: .4s;
}
.gone {
  display: none;
  transition-delay: .0s;
}
.tree-sticky.show .gone {
  display: block;
}
.tree .btn{
  margin: 0;
  padding: 0;
  border: 0;
}
.material-icons-sharp {
  font-size: 24px;
}
.breadcrumb {
  z-index: 10;
}
ul {
  padding-inline-start: $line-left;
}
ul.list {
    // background-color: $secondary;
    list-style-type: none;
    position: relative;
    min-height: 100vh;
    font-weight: 200;
}
ul.list .active {
  font-weight: 900;
}
// ul.list > li:before {
//     content: ' ';
//     background: $secondary;
//     display: inline-block;
//     position: absolute;
//     left: $line-left;
//     width: $line-width;
//     height: 150px;
// }
ul.list > li {
    text-decoration: none;
    display: flex;
    align-items: center;
}
// .nav-sub.read:after {
//   content: ' ';
//   background: $success;
//   display: inline-block;
//   position: absolute;
//   right: 0;
//   width: $line-width-double;
//   height: 1rem;
//   z-index: 80;
// }
ul.list > li.read:before {
  content: ' ';
  background: $success;
  display: inline-block;
  position: absolute;
  left: $line-left;
  width: $line-width-double;
  height: 100%;
  top: 0px;
}
ul.list > li:before {
  content: ' ';
  background: $secondary;
  display: inline-block;
  position: absolute;
  left: $line-left;
  width: $line-width-double;
  height: 157px;
}
ul.sub {
  list-style-type: none;
  position: relative;
}
ul.sub .nav-sub {
  text-decoration: none;
  font-size: 0.8rem;
  /* unvisited link */
  a:link {
    color: $text-primary;
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    color: $text-primary;
    text-decoration: none;
  }

  /* mouse over link */
  a:hover {
    color: $text-primary;
    text-decoration: none;
    font-weight: 900;
  }

  a:active {
    color: $text-primary;
    text-decoration: none;
    background: $hover-primary;
  }
}
